.crop{overflow: hidden;}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
  margin-left: 250px;
}
.container > *{
  min-width: 25rem;
  max-width:40rem ;
}
img{
  border-radius: 3rem;
  flex: 1 0;
  object-fit: cover;
  height: 30rem;
  margin: 1rem;
}
.details{
width: 100%;
display: flex;
flex-direction: column;
flex: 1 0;
border-radius: 3rem;
padding: 2rem;
color: rgb(255, 252, 252);
margin-left: 1rem;
}
.details .header{
  display: flex;
  justify-content: space-between;
}
.details .name{
  font-size: 2rem;
  font-weight: bold;
}
.details .code{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.details .code >span{
  padding: .5rem;
  font-size: 1.2rem;
  margin:  .5rem .5rem .5rem 0;
  border-radius: 2rem;
  background-color: gray;
  color: white;
}
.details .descriptionơ{
  padding: .6rem .2rem .6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
}
.details .price{
  font-size: 1.8rem;
  margin: 1rem 1rem 1rem 0;
  color: rgb(74, 230, 74);
}
.details .price::before{
  content: "Price:";
  color: gray;
}
.details button{
  color: white;
  background-color: #0af558;
  border: none;
  font: size 1.2em;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
}
.details button:hover{
  opacity: .9;
  cursor: pointer;
}
.details .total{
  margin-top: 1rem;
  font-size: 14;
  font-weight: bold;
}
.details .total::before{
  margin-top: 5rem;
  content: "số lượng :";
  color: rgb(240, 236, 117);
  font-weight: bold;
}
.details .sum{
  content: "số lượng :";
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.details .sum::before{
  content: "Thành tiền :";
  color: rgb(108, 221, 77);
  font-weight: bold;
}
