
<nav class="navbar navbar-expand-sm navbar-dark ">
	<!--Brand -->
	<a class="navbar-brand" href="#">
		<img class="brand-logo" src="/assets/logo.png" height="30px" alt="logo" aria-hidden="true">
	</a>
	<ul class="navbar-nav">
		<li class="nav-item active">
			<a class="logo" routerLink="/">Trang chủ</a>
		</li>
		<!-- <li class="nav-item active">
			<a class="nav-link" routerLink="/list">Product list</a>
		</li> -->
	</ul>
	<ul class="navbar-nav ml-auto ">
		<ng-container *ngIf="isAuthenticatedAdmin()">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/list">Danh sách sản phẩm</a>
			</li>
		</ng-container>
    <li class=" nav-item active">
      <a class="nav-link" routerLink="/cart" href="">My Cart</a>
    </li>
		<ng-container *ngIf="!isAuthenticated()">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/login" href="#">Đăng nhập</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/register" href="#">Đăng ký</a>
			</li>
		</ng-container>
		<ng-container *ngIf="isAuthenticated()">
			<li class="nav-item active">
				<a class="nav-link" routerLink="/Logout" (click)="logout()" href="#">Đăng xuất</a>
			</li>
		</ng-container>
	</ul>
</nav>
<body style="background-image: url('assets/khung-background-xanh-la-dep-cho-thiet-ke.jpg');" >
	<router-outlet></router-outlet>
</body>

<footer>
	<h4 class="text justify-center" > Copyright © 2024</h4>
</footer>
