div{

  display: flex;
  justify-content: center;
  margin-top: .2rem;
}
div input{
  border-radius: 10rem ;
  border: none;
  height: 3rem;
  width: 20rem;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  opacity: 0.5;
}
